* {
	box-sizing: border-box;
	background-color: #fefae0;
	margin: 0;
	padding: 0;
}

html {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

header {
	display: flex;
	justify-content: center;
	background-color: #bc6c25;
	padding: 15px 15px 0 15px;
}

nav {
	background-color: inherit;
	display: flex;
	gap: 64px;
}

button {
	height: 50px;
	width: 150px;
	font-size: 16px;
	border-radius: 8px 8px 0 0;
	background-color: #eecaa0;
	border: 2px solid #bc6c25;
	border-bottom: none;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 16px;
	gap: 8px;

	color: #bc6c25;
	background-color: #fefae0;

	border: #bc6c25 2px solid;
	border-top: none;
	text-align: center;

	font-family: sans-serif;
	height: 100%;
}

hr {
	width: 90%;
	height: 2px;
	margin: 24px 0;
	background-color: #bc6c25;
	border: none;
}

#quote-container {
	display: flex;
	justify-content: space-between;
	padding: 0 32px;
	gap: 48px;
	align-items: center;
	width: 100%;
}

p {
	font-size: 32px;
}

#quote {
	flex-grow: 1;
	text-align: center;

	margin: 0;
	padding: 25px 0;
	font-size: 48px;
	font-style: italic;

	border-width: 0 3px;
	border-color: #bc6c25;
	border-style: solid;
}

img {
	width: 500px;
}

#menu-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 80%;
	gap: 32px;
}

.menu-item {
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-size: 48px;
}

.spacer {
	height: 50px;
}
